{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block body %}
<br>
<h3>Edit the "{{ title }}" page</h3>
<hr class="border border-primary border-3 opacity-75">

<form action="/editpage/{{ title }}" method="post">
    {% csrf_token %}
    <input type="hidden" id="title" name="title" class="form-control" value="{{ title }}">
    <br>
    <label for="content" class="form-label"><strong>Content:</strong>  <span class="text-muted">(Insert Markdown content)</span></label>
    <br>
    <textarea name="content" id="content" class="form-control" rows="16">{{ context }}</textarea>
    <br>
    <hr class="border border-primary border-3 opacity-75">
    
    <div class="grid text-center">
        <div class="g-col-4 g-start-4">
            <button class="w-25 btn btn-primary btn-lg" type="submit">Edit Page</button>
        </div>
    </div>
</form>

{% endblock %}